/**
* @tokens Border
*/
$border-blue: 1px solid #227c9d;
$border-sea: 2px solid #17c3b2;
$border-yellow: 4px solid #ffcb77;
$border-floral-white: 6px solid #fef9ef;
$border-coral: 8px solid #fe6d73;
$border-var-reference: $border-sea;
$non-found-reference: $var-does-no-exists;
