/**
* @tokens BorderRadius
*/
$border-radius-xs: 4px;
$border-radius-x: 8px;
$border-radius-m: 12px;
$border-radius-l: 16px;
$border-radius-xl: 20px;
$border-radius-circle: 50%;
$border-radius-reference: $border-radius-m;
$non-found-reference: $var-does-no-exists;
